[Oo]bj/
[Bb]in/
TestResults/
.nuget/
_ReSharper.*/
*.exe
packages/
artifacts/
PublishProfiles/
csx/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
.vs/
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
*.sln.ide
*.lock.json
*.db
.idea.*/
.vscode/*
secrets/
host/ProtocolGateway.Host.Fabric/pkg/*