<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetty.Buffers" version="0.2.1" targetFramework="net451" />
  <package id="DotNetty.Codecs" version="0.2.1" targetFramework="net451" />
  <package id="DotNetty.Codecs.Mqtt" version="0.2.1" targetFramework="net451" />
  <package id="DotNetty.Common" version="0.2.1" targetFramework="net451" />
  <package id="DotNetty.Handlers" version="0.2.1" targetFramework="net451" />
  <package id="DotNetty.Transport" version="0.2.1" targetFramework="net451" />
  <package id="EnterpriseLibrary.SemanticLogging" version="2.0.1406.1" targetFramework="net451" />
  <package id="EnterpriseLibrary.SemanticLogging.EventSourceAnalyzer" version="2.0.1406.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.Azure.Amqp" version="1.0.0-preview-002" targetFramework="net451" />
  <package id="Microsoft.Azure.Devices" version="1.0.0-preview-002" targetFramework="net451" />
  <package id="Microsoft.Azure.Devices.Client" version="1.0.0-preview-002" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net451" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="WindowsAzure.ServiceBus" version="3.0.3" targetFramework="net451" />
  <package id="xunit" version="2.0.0" targetFramework="net451" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net451" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net451" />
  <package id="xunit.core" version="2.0.0" targetFramework="net451" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net451" />
  <package id="xunit.runner.visualstudio" version="2.0.1" targetFramework="net451" />
</packages>